{% extends 'base.html' %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js">

</script>
<h1>{% block title %}Roll dice for character attributes{% endblock %}</h1>
  {% endblock %}

{% block content %}
<form method="post" id="form">
<div class="container mt-3">
  <p>Type your character name</p>
  <input name="name" id="name" type="text" class="form-control" placeholder="Type name" value="{{ request.form['name'] }}" required>
</div>

<div class="container mt-3">
  <p>Choose your character class</p>
  
  <select name="class_character" id="class_character" class="form-select" value="{{ request.form['class_character'] }}">
    <option>Barbarian</option>
    <option>Bard</option>
    <option>Cleric</option>
    <option>Druid</option>
    <option>Worrior</option>
    <option>Monk</option>
    <option>Paladin</option>
    <option>Ranger</option>
    <option>Rogue</option>
    <option>Sorcerer</option>
    <option>Wizard</option>
  </select>
</div>
<div class="container mt-3">
  <p>Choose your character race</p>
  
  <select name="race" id="race" class="form-select" value="{{ request.form['race'] }}">
    <option>Human</option>
    <option>Elve</option>
    <option>Dwarves</option>
    <option>Half-elve</option>
    <option>Half-orc</option>
    <option>Halfling</option>
  </select>
</div> 
</form>

<div class="container mt-3">
    <h2>Roll your attributes!</h2>
    <p>You will roll four six-sided dice. The program will then choose the three dice with the highest scores and add them together to determine your attribute score. </p>            
    <table class="table">
      <thead>
        <tr>
          <th>Roll</th>
          <th>Roll result</th>
          <th>Attributes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" class="data-fetcher" class="data-fetcher" data-form="form1" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <form id="form1"><td><input id="get_data1" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['strenght'] }}" readonly></td></form>
          <td>Strenght</td>
        </tr>
        <tr>
          <td><button type="button"  class="data-fetcher" data-form="form2" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <form id="form2"><td><input id="get_data2" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['dexterity'] }}" readonly></td></form>
          <td>Dexterity</td>
        </tr>
        <tr>
          <td><button type="button"  class="data-fetcher" data-form="form3" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <form id="form3"><td><input id="get_data3" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['constitution'] }}" readonly></td></form>
          <td>Constitution</td>
        </tr>
        <tr>
          <td><button type="button"  class="data-fetcher" data-form="form4" onclick="playAudio('/static/rpg_dice.mp3')" >ROLL</button></td>
          <form id="form4"><td><input id="get_data4" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['intelligence'] }}" readonly></td></form>
          <td>Intelligence</td>
        </tr>
        <tr>
          <td><button type="button"  class="data-fetcher" data-form="form5" onclick="playAudio('/static/rpg_dice.mp3')" >ROLL</button></td>
          <form id="form5"><td><input id="get_data5" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['wisdom'] }}" readonly></td></form>
          <td>Wisdom</td>
        </tr>
        <tr>
          <td><button type="button"  class="data-fetcher" data-form="form6" onclick="playAudio('/static/rpg_dice.mp3')" >ROLL</button></td>
          <form id="form6"><td><input id="get_data6" name="data" type="text" class="form-control" placeholder="Roll it" value="{{ request.form['charisma'] }}" readonly></td></form>
          <td>Charisma</td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="d-grid">
    <button type="button" class="btn btn-primary btn-block" onclick="submitForms()">Submit your rolls</button>
  </div>



<script>
function playAudio(url) {
    new Audio(url).play();
}

var buttons = document.querySelectorAll(".data-fetcher");

for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener("click", getData);
}



function getData(event) {
    var formname = event.target.dataset.form;
    fetch('/attribute')
        .then(response => response.json())
        .then(throws => {
            document.getElementById(formname).data.value = throws;
            this.disabled = true;
            console.log(throws);
        })
}
submitForms = function(){
  document.getElementById("form").submit();
  
}

</script> 
{% endblock %}