{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Roll dice for character attributes{% endblock %}</h1>
  {% endblock %}

{% block content %}
<form method="post" id="my_form"></form>
<div1><p>Type your character name</p>
  <input form="my_form" name="name" class="form-control" placeholder="Type name">

<p>Choose your character class</p>
  <select form="my_form" name="class_character" id="class_character" class="form-select" value="{{ request.form['class_character'] }}">
    <option>Barbarian</option>
    <option>Bard</option>
    <option>Cleric</option>
    <option>Druid</option>
    <option>Worrior</option>
    <option>Monk</option>
    <option>Paladin</option>
    <option>Ranger</option>
    <option>Rogue</option>
    <option>Sorcerer</option>
    <option>Wizard</option>
  </select>

<p>Choose your character race</p>
  <select form="my_form" name="race" id="race" class="form-select" value="{{ request.form['race'] }}">
    <option>Human</option>
    <option>Elve</option>
    <option>Dwarf</option>
    <option>Half-elve</option>
    <option>Half-orc</option>
    <option>Halfling</option>
    <option>Gnome</option>
  </select>
 
  


  <h2>Roll* your attributes!</h2><p>*You will roll four six-sided dice. The program will then choose the three dice with the highest scores and add them together to determine your attribute score. </p>            
    <table class="table">
      <thead>
        <tr>
          <th>Roll</th>
          <th>Roll result</th>
          <th>Attributes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button  type="button" class="btn btn-dark btn-lg" data-form="form1" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input form="my_form" id="form1" name="strenght"  class="form-control" placeholder="Roll it" value="{{ request.form['strenght'] }}" readonly></td>
          <td>Strenght</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-dark btn-lg" data-form="form2" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input  form="my_form" id="form2" name="dexterity"  class="form-control" placeholder="Roll it" value="{{ request.form['dexterity'] }}" readonly></td>
          <td>Dexterity</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-dark btn-lg" data-form="form3" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input form="my_form" id="form3" name="constitution" class="form-control" placeholder="Roll it" value="{{ request.form['constitution'] }}" readonly></td>
          <td>Constitution</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-dark btn-lg" data-form="form4" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input form="my_form" id="form4" name="intelligence" class="form-control" placeholder="Roll it" value="{{ request.form['intelligence'] }}" readonly></td>
          <td>Intelligence</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-dark btn-lg" data-form="form5" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input form="my_form" id="form5" name="wisdom" class="form-control" placeholder="Roll it" value="{{ request.form['wisdom'] }}" readonly></td>
          <td>Wisdom</td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-dark btn-lg" data-form="form6" onclick="playAudio('/static/rpg_dice.mp3')">ROLL</button></td>
          <td><input form="my_form" id="form6" name="charisma" class="form-control" placeholder="Roll it" value="{{ request.form['charisma'] }}" readonly></td>
          <td>Charisma</td>
        </tr>
        </tbody>
      
      </table>
     
    <input type="submit" value="Save" form="my_form">
    
  </form>
</div1>
    <script>

  function playAudio(url) {
    new Audio(url).play();
}

var buttons = document.querySelectorAll(".btn");    //geting all buttons with class "data-fetcher"

for (var i = 0; i < buttons.length; i++) {
   buttons[i].addEventListener("click", getData);            // addng event that evoke function getData when  button is clicked
}

function getData(event) {
    var formname = event.target.dataset.form;     //getting data-form value from clicked button
    console.log(formname)
    fetch('/attribute')
        .then(response => response.json())
        .then(throws => {
            document.getElementById(formname).value = throws;    // getting element with id equal value data-from from clicked button and then put throws in to it(input)
            event.target.disabled = true;
            console.log(throws);
        })
}

</script> 
{% endblock %}

