{% extends 'base.html' %}character

{% block header %}
  <h1>{% block title %}List of Characters{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('dd_roller.character') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}

{% for character in characters %}
    <article class="character">
      <header>
        <div>
          <h4>Character name: {{ character['character_name'] }}</h4>
        </div>
        {% if g.user['id'] == character['author_id'] %}
         <!-- <a class="action" href="{{ url_for('blog.update', id=character['id']) }}">Edit</a>-->
        {% endif %}
      </header>
      
      <div>
        <button href="#attribiutes{{ loop.index }}" data-bs-toggle="collapse" class="btn btn-secondary">Show Attribiutes</button></div><hr>
      <div id="attribiutes{{ loop.index }}" class="collapse">
      <p class="body">Class: {{ character['character_class'] }}</p>
      <hr>
      <p class="body">Race: {{ character['race'] }}</p>
      <hr>
      <h5 class="body">Caracter Attribiutes:</h5>
      <hr>
      <p class="body">Strenght: {{ character['Strenght'] }}</p>
      <hr>
      <p class="body">Dexterity: {{ character['Dexterity'] }}</p>
      <hr>
      <p class="body">Constitution: {{ character['Constitution'] }}</p>
      <hr>
      <p class="body">Intelligence: {{ character['Intelligence'] }}</p>
      <hr>
      <p class="body">Wisdom: {{ character['Wisdom'] }}</p>
      <hr>
      <p class="body">Charisma: {{ character['Charisma'] }}</p>
        <hr>
      </div>
     <footer class="blockquote-footer">>by {{ character['username'] }} on {{ character['created'].strftime('%Y-%m-%d') }}</footer>
    </article>
    {% if not loop.last %}
    <hr style="height:5px;border-width:0;color:black;background-color:black">

    {% endif %}
  {% endfor %}

{% endblock %}